* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  color: hsl(0deg, 0%, 30%);
}

.max-width-wrapper {
  padding: 56px 0;
}

main .max-width-wrapper {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 30%);
}

.intro-chunk {
  box-sizing: content-box;
  max-width: 400px;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  padding-right: 300px;
}

.title {
  font-size: 2rem;
}

.card {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  padding-top: 4px;
  border-bottom: 8px solid hsl(0deg, 0%, 30%);
  background-color: hsl(0deg, 0%, 100%);
  width: fit-content;
}

.indented-heading {
  font-size: 1.5rem;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
  margin-left: -24px;
  padding: 16px 24px;
  margin-block-start: 0;
}

strong {
  color: hsl(160deg, 100%, 30%);
}
